################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0
/bin/Debug/net8.0
/obj
/.vs
/Mahalo.Back/obj/Debug/net8.0
/Mahalo.Back/bin/Debug/net8.0
/Mahalo.Shared/bin/Debug/net8.0
/Mahalo.Shared/obj/Debug/net8.0
/Mahalo.Back/bin/Release/net8.0
/Mahalo.Back/Properties
/Mahalo.Test/bin/Debug/net8.0
/Mahalo.Test/obj/Debug/net8.0
/Mahalo.Shared/bin/Release/net8.0
/Mahalo.Shared/obj/Release/net8.0
/Mahalo.Test/obj
